name: Build and Deploy
on: push
# on:
#   push:
#     branches:
#       - master

jobs:
  Build-and-Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install gnu parallel
        run: |
          (wget -O - pi.dk/3 || lynx -source pi.dk/3 || curl pi.dk/3/ || fetch -o - http://pi.dk/3 ) > install.sh
          bash install.sh
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Download Experience Builder
        run: npx arcgis-lib-downloader -p arcgis-experience-builder -v 1.6
        env:
          ARCGIS_LIB_DOWNLOADER_USERNAME: ${{ secrets.ARCGIS_LIB_DOWNLOADER_USERNAME }}
          ARCGIS_LIB_DOWNLOADER_PASSWORD: ${{ secrets.ARCGIS_LIB_DOWNLOADER_PASSWORD }}
      - name: Unzip Experience Builder
        run: unzip -q arcgis-experience-builder-1.6.zip -d arcgis-experience-builder-1.6
      - name: Copy Custom Widgets
        run: cp -r widgets/* arcgis-experience-builder-1.6/ArcGISExperienceBuilder/client/your-extensions/widgets
      - name: Create app directory
        run: mkdir public && cd public && mkdir apps && cd apps
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder/server
      - name: Copy apps
        run: cp -r apps/* arcgis-experience-builder-1.6/ArcGISExperienceBuilder/server/public/apps
      - name: NPM install client folder
        run: npm ci
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder/client
      - name: NPM install in server folder
        run: npm ci
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder/server
      - name: Build widgets
        run: npm run build:dev
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder/client
      - name: Run download script
        run: node -e "require('./server/src/middlewares/dev/apps/app-download.js').zipApp('0', 'app.zip')"
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder
      - name: Unzip app zip
        # ExB has non-standard file permissions so use chmod after unzip
        run: |
          unzip -q app.zip -d app
          chmod -R 777 app
        working-directory: arcgis-experience-builder-1.6/ArcGISExperienceBuilder
      - name: Deploy app zip to GH Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: arcgis-experience-builder-1.6/ArcGISExperienceBuilder/app
